@model WorldUniversity.Repositories.PaginatedList<WorldUniversity.ViewModels.Students.StudentViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid" id="print">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover font-italic " id="example" width="100%">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">Student Body</th>
                        </tr>
                        <tr class="bg-primary text-gray-400">
                            <th class="text-center align-middle">First Name</th>
                            <th class="text-center align-middle">Last Name</th>
                            <th class="text-center align-middle">Email</th>
                            <th class="text-center align-middle">Student Details</th>
                            <th class="text-center align-middle">Delete Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th class="text-center align-middle">@item.FirstName</th>
                                    <th class="text-center align-middle">@item.LastName</th>
                                    <th class="text-center align-middle">@item.Email</th>
                                    <th class="text-center">
                                        <a class="btn btn-primary" style="width:auto"
                                           asp-action="Details" asp-route-id="@item.Id">
                                            Details
                                        </a>
                                    </th>
                                    <th class="text-center">
                                        <a class="btn text-center btn-danger" style="width:auto"
                                           asp-action="Delete" asp-route-id="@item.Id">
                                            Delete
                                        </a>
                                    </th>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" class="text-right"></th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">Total Number Of Students</th>
                            <th colspan="1" class="text-center">@Model.Count()</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/custom/PrintDataTable.js" asp-append-version="true"></script>
}