@model WorldUniversity.ViewModels.Exams.ExamViewModel

@{
    ViewData["Title"] = "ExamDetails";
}
<div class="container-fluid">
    <p>
        <a class="btn btn-success" style="width:auto"
           asp-controller="Questions" asp-action="CreateQuestion" asp-route-examId="@Model.Id">
            Create New Question
        </a>
    </p>
</div>
<div class="container-fluid">
    <div class="card shadow mb-4 ">
        <div class="card-body">
            <h2>@Model.Title Details</h2>
            <hr />
            <div class="dl-horizontal">
                <div class="form-group">
                    <label asp-for="Title" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Title</span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Date</span>
                </div>
                <div class="form-group">
                    <label asp-for="Questions" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Questions.Count</span>
                </div>
                <div class="form-group">
                    <div class="row">                   
                        <a class="btn btn-success" style="width:auto"
                           asp-action="Edit" asp-route-id="@Model.Id">
                            Edit Exam
                        </a>
                    </div>
                    <br />
                    <div class="row">
                        <a class="btn btn-primary" style="width:auto"
                           asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div >
        <!--Exam Question List Table -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover font-italic " id="example" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" class="text-center">Questions</th>
                            </tr>
                            <tr class="bg-primary text-gray-400">
                                <th class="text-center align-middle">Question Content</th>
                                <th class="text-center align-middle">A</th>
                                <th class="text-center align-middle">B</th>
                                <th class="text-center align-middle">C</th>
                                <th class="text-center align-middle">D (Correct Answer)</th>
                                <th class="text-center align-middle">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var question in Model.Questions)
                                {
                                    <tr>
                                        <th class="text-center align-middle">@question.QuestionContent</th>
                                        <th class="text-center align-middle">@question.AlternateAnsOne</th>
                                        <th class="text-center align-middle">@question.AlternateAnsTwo</th>
                                        <th class="text-center align-middle">@question.AlternateAnsThree</th>
                                        <th class="text-center align-middle">@question.CorrectAns</th>
                                        <th class="text-center">                                      
                                            <form asp-controller="Questions" asp-action="DeleteQuestion" asp-route-id="@question.QuestionID">
                                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                                    Delete
                                                </button>
                                            </form>
                                        </th>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6" class="text-right"></th>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-right">Total Number Of Questions</th>
                                <th colspan="1" class="text-center">@Model.Questions.Count()</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/custom/PrintDataTable.js" asp-append-version="true"></script>
}