@model WorldUniversity.Web.ViewModels.Departments.DepartmentViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h2>Department Details</h2>
            <hr />
            <div class="dl-horizontal">
                <div class="form-group">
                    <label asp-for="Name" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Name</span>
                </div>
                <div class="form-group">
                    <label asp-for="Budget" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Budget</span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.ShortStartDateFormat</span>
                </div>
                <div class="form-group">
                    <label asp-for="Administrator" class="font-weight-bold"></label>
                    <br /> 
                    @if (Model.Administrator != null)
                    {
                    <span class="control-label">@Model.Administrator.FirstName @Model.Administrator.LastName</span>
                    }
                    else
                    {
                    <span class="control-label">No Administrator Asssigned Yet</span>
                    }
                </div>
                <div class="form-group">
                    <div class="row">
                        <a class="btn btn-success" style="width:auto"
                           asp-action="Edit" asp-route-id="@Model.DepartmentId">
                            Edit Department
                        </a>
                    </div>
                    <br />
                    <div class="row">
                        <a class="btn btn-primary" style="width:auto"
                           asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>