<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorldUniversity</title>
    <link href="~/lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
</head>
<body class="bg-dark">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">WorldUniversity</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow">
                                <li class="nav-item">
                                    <partial name="_LoginPartial" />
                                </li>
                            </ul>
                            <ul class="navbar-nav flex-fill">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Home" asp-action="About">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-white" asp-controller="Home" asp-action="Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-xl-1">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link" id="Index" asp-controller="ExamSessions" asp-action="Index">Index</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="ListExams" asp-controller="ExamSessions" asp-action="ListExams">ListExam</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-8">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>

            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto row">

                        <div class="col-xl-4 col-md-4">
                            <a asp-controller="Home" asp-action="Contact"><i class="fas fa-pencil-alt"></i> Contact Us</a>
                        </div>

                        <div class="col-xl-4 col-md-4">
                            <span class="text-white">Copyright &copy; <a href="/">WorldUniveristy</a> 2020 - @DateTime.UtcNow.Year</span>
                        </div>

                        <div class="col-xl-4 col-md-4">
                            <a asp-controller="Home" asp-action="Privacy"><i class="fas fa-pencil-alt"></i>Privacy</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</body>
</html>

@if (ViewData["Active"] != null)
{
    <script type="text/javascript">document.getElementById("@ViewData["Active"]").classList.add("active")</script>
}

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/datatables/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>
@RenderSection("Scripts", required: false)