@model IEnumerable<WorldUniversity.ViewModels.Courses.CourseViewModel>

@{
    ViewData["Title"] = "Courses";
}
<div class="container-fluid">
    <p>
        <a class="btn btn-success" style="width:auto"
           asp-action="Create">
            Create New Course
        </a>
</div>
<div class="container-fluid" id="print">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover font-italic " id="example" width="100%">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-center">Courses</th>
                        </tr>
                        <tr class="bg-primary text-gray-400">
                            <th class="text-center align-middle">Title</th>
                            <th class="text-center align-middle">Credits</th>
                            <th class="text-center align-middle">Department</th>
                            <th class="text-center align-middle">Course Details</th>
                            <th class="text-center align-middle">Edit Course</th>
                            <th class="text-center align-middle">Delete Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                                <tr>
                                                    <th class="text-center align-middle">@item.Title</th>
                                                    <th class="text-center align-middle">@item.Credits</th>
                                                    @if (@item.Department != null)
                                                    {
                                                        <th class="text-center align-middle">@item.Department.Name</th>
                                                    }
                                                    else
                                                    {
                                                        <th class="text-center align-middle">No Department Added</th>
                                                    }

                                                    <th class="text-center">
                                                        <a class="btn btn-primary" style="width:auto"
                                                           asp-action="Details" asp-route-id="@item.Id">
                                                            Details
                                                        </a>
                                                    </th>
                                                    <th class="text-center">
                                                        <a class="btn btn-primary" style="width:auto"
                                                           asp-action="Edit" asp-route-id="@item.Id">
                                                            Edit
                                                        </a>
                                                    </th>
                                                    <th class="text-center">
                                                        <a class="btn text-center btn-danger" style="width:auto"
                                                           asp-action="Delete" asp-route-id="@item.Id">
                                                            Delete
                                                        </a>
                                                    </th>
                                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6" class="text-right"></th>
                        </tr>
                        <tr>
                            <th colspan="5" class="text-right">Total Number Of Courses</th>
                            <th colspan="1" class="text-center">@Model.Count()</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/custom/PrintDataTable.js" asp-append-version="true"></script>
}