@model ICollection<WorldUniversity.Web.ViewModels.Exams.ExamViewModel>
@{
    Layout = "~/Views/Shared/_ExamLayout.cshtml";
    ViewData["Title"] = "ListExams";
    ViewData["Active"] = "ListExams";
}
<div class="container-fluid" id="print">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover font-italic " id="example" width="100%">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">My Exams</th>
                        </tr>
                        <tr class="bg-primary text-gray-400">
                            <th class="text-center align-middle">Exam Title</th>
                            <th class="text-center align-middle">Exam Date</th>
                            <th class="text-center align-middle">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <th class="text-center align-middle">
                                        <a asp-action="ExamDetails" asp-route-id="@item.Id">@item.Title</a>
                                    </th>

                                    <th class="text-center align-middle">@item.Date</th>
                                    <th class="text-center align-middle">@item.Marks</th>

                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3" class="text-right"></th>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-right">Total Number Of Exams</th>
                            <th colspan="1" class="text-center">@Model.Count()</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/custom/PrintDataTable.js" asp-append-version="true"></script>
}