<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorldUniversity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
</head>
<body class="bg-light">
    <div id="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WorldUniversity</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item">
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-fill">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto row">
                    <div class="col-xl-4 col-md-4">
                        <a asp-controller="Home" asp-action="Contact"><i class="fas fa-pencil-alt"></i> Contact Us</a>
                    </div>

                    <div class="col-xl-4 col-md-4">
                        <span>Copyright &copy; <a href="/">WorldUniveristy</a> 2020 - @DateTime.UtcNow.Year</span>
                    </div>

                    <div class="col-xl-4 col-md-4">
                        <a asp-controller="Home" asp-action="Privacy"><i class="fas fa-pencil-alt"></i>Privacy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)