@model WorldUniversity.Web.ViewModels.Students.StudentViewModel

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <h2>Student Details</h2>
            <hr />
            <div class="dl-horizontal">
                <div class="form-group">
                    <label asp-for="FirstName" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.FirstName</span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.LastName</span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="font-weight-bold"></label>
                    <br />
                    <span class="control-label">@Model.Email</span>
                </div>
            </div>
            <div class="col-sm-10 ">
                <h3>Enrollments</h3>
            </div>
            <div class="col-sm-10">
                <table class="table text-black-50">
                    <tr>
                        <th>Course Title</th>
                        <th>Grade</th>
                    </tr>
                    @foreach (var item in Model.Enrollments)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modeltem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Grade)
                        </td>
                    </tr>
                    }
                </table>
            </div>
            <div class="form-group">
                <br />
                <div class="row">
                    <a class="btn btn-primary" style="width:auto"
                       asp-action="Index">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>