@model WorldUniversity.ViewModels.Departments.DepartmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

<h3>Are you sure you want to delete this?</h3>
    <h4>Department</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="form-group">
            <label asp-for="Name" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.Name</span>
        </div>
        <div class="form-group">
            <label asp-for="Budget" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.Budget</span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.StartDate</span>
        </div>
        <div class="form-group">
            <label asp-for="Administrator" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.Administrator.FullName</span>
        </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentId" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>