@model WorldUniversity.ViewModels.Departments.DepartmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

    <h4>Department</h4>
    <hr />
    <div class="dl-horizontal">
        <div class="form-group">
            <label asp-for="Name" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.Name</span>
        </div>
        <div class="form-group">
            <label asp-for="Budget" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.Budget</span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.StartDate</span>
        </div>
        <div class="form-group">
            <label asp-for="RowVersion" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.RowVersion</span>
        </div>
        <div class="form-group">
            <label asp-for="Administrator" class="font-weight-bold"></label>
            <br />
            <span class="control-label">@Model.Administrator.FullName</span>
        </div>
    </div>
 
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>