@model IEnumerable<WorldUniversity.Web.ViewModels.Departments.DepartmentViewModel>

@{
    ViewData["Title"] = "Departments";
}

<div class="container-fluid">
    <p>
        <a class="btn btn-success" style="width:auto"
           asp-action="Create">
            Create New Department
        </a>
    </p>
</div>
<div class="container-fluid" id="print">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover font-italic " id="example" width="100%">
                    <thead>
                        <tr>
                            <th colspan="8" class="text-center">Departments</th>
                        </tr>
                        <tr class="bg-primary text-gray-400">
                            <th class="text-center align-middle">Name</th>
                            <th class="text-center align-middle">Budget</th>
                            <th class="text-center align-middle">Date Of Creation</th>
                            <th class="text-center align-middle">Administrator</th>
                            <th class="text-center align-middle">Department Details</th>
                            <th class="text-center align-middle">Edit Department</th>
                            <th class="text-center align-middle">Delete Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                                <tr>
                                                    <th class="text-center align-middle">@item.Name</th>
                                                    <th class="text-center align-middle">@item.Budget.ToString("0.00")</th>
                                                    <th class="text-center align-middle">@item.ShortStartDateFormat</th>
                                                    @if (item.Administrator != null)
                                                    {
                                                        <th class="text-center align-middle">@item.Administrator.FirstName @item.Administrator.LastName</th>
                                                    }
                                                    else
                                                    {
                                                        <th class="text-center text-danger align-middle">No Administrator Asssigned Yet</th>
                                                    }
                                                    <th class="text-center">
                                                        <a class="btn btn-primary" style="width:auto"
                                                           asp-action="Details" asp-route-id="@item.DepartmentId">
                                                            Details
                                                        </a>
                                                    </th>
                                                    <th class="text-center">
                                                        <a class="btn btn-primary" style="width:auto"
                                                           asp-action="Edit" asp-route-id="@item.DepartmentId">
                                                            Edit
                                                        </a>
                                                    </th>
                                                    <th class="text-center">
                                                        <a class="btn text-center btn-danger" style="width:auto"
                                                           asp-action="Delete" asp-route-id="@item.DepartmentId">
                                                            Delete
                                                        </a>
                                                    </th>
                                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="7" class="text-right"></th>
                        </tr>
                        <tr>
                            <th colspan="6" class="text-right">Total Number Of Departments</th>
                            <th colspan="3" class="text-center">@Model.Count()</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/custom/PrintDataTable.js" asp-append-version="true"></script>
}